studio-workspace/object-store-duplicates-remove/src/main/mule/object-store-duplicates-remove.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7621b44d-37b8-479a-a52f-ff8227c2e6f1" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<flow name="object-store-duplicates-removeFlow" doc:id="762b0c27-fad9-4dcf-9468-5b9ffea501cb" >
		<http:listener doc:name="Listener" doc:id="8c23753c-0e37-4ec4-a83e-0b720bcd4274" config-ref="HTTP_Listener_config" path="/store"/>
		<ee:transform doc:name="Transform Message" doc:id="b8e0943b-a955-4a7b-969a-efe47ab15886" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<os:store doc:name="Store" doc:id="0499bbba-6a27-452c-96e4-13f229804138" key="access">
			<os:value ><![CDATA[#[payload map ((item, index) ->{
    "name": item.name,
    "id":item.id
} ) distinctBy $.id]]]></os:value>
		</os:store>
		<logger level="INFO" doc:name="Logger" doc:id="151da8fc-82f6-47f4-bf91-aadeffa2e4fe" message="#[payload]"/>
		<os:retrieve doc:name="Retrieve" doc:id="fd322c8a-7887-4189-8fd2-4fcc16160066" key="access">
		</os:retrieve>
		<ee:transform doc:name="Transform Message" doc:id="8da1ff89-0d0e-4cfb-9e33-7a4c9ec5b565" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1653eaad-142e-4bf8-831a-6af2290744a0" message="#[payload]"/>
	</flow>
</mule>
